{# pcc_directory/templates/pcc-directory-group-template.html.twig #}
{# @var resultGroup \Drupal\pcc_directory\Models\ResultGroup #}
{% if resultGroup %}
    {% if resultGroup.group %}
        <h1>{{ resultGroup.group.name }} @ {{ resultGroup.group.location.full_name }}</h1>
    {% endif %}
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Job</th>
        </tr>
        </thead>
        <tbody>
        {% for person in resultGroup.people %}
            <tr>
                <td>
                    <a href="{{ path('pcc_directory.profile', {'id': person.id}) }}"
                       title="View profile for {{ person.full_name }}">{{ person.full_name }}</a>
                </td>
                <td>{{ person.getPrimaryIntermediate().job.full_name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="directory-pagination">
        {% set currentPage = resultGroup.pageInfo.current_page|default(1) %}
        {% if (resultGroup.pageInfo.prev_page_url) %}
            <a href="{{ path('pcc_directory.group', {'id': id, 'page': currentPage - 1}) }}"
               title="Previous page">Previous</a>
        {% endif %}
        <span class="current-page active">{{ currentPage }}</span>
        {% if (resultGroup.pageInfo.next_page_url) %}
            <a href="{{ path('pcc_directory.group', {'id': id, 'page': currentPage + 1}) }}"
               title="Next page">Next</a>
        {% endif %}
    </div>
{% else %}
    <div>No results.</div>
{% endif %}
