{# pcc_directory/templates/pcc-directory-profile-template.html.twig #}
{# @var resultProfile \Drupal\pcc_directory\Models\ResultGroup #}
{{ attach_library('pcc_directory/obf') }}
{% if resultProfile %}
    {% set profile = resultProfile.person.profile %}
    <h1>{{ resultProfile.person.full_name }}</h1>
    {% if (profile.image_id) %}
        <img src="{{ path('pcc_directory.image', {'id': profile.image_id}) }}"
             title="Image for {{ resultProfile.person.full_name }}"/>
    {% endif %}
    <div>
        <h3>Jobs</h3>
        {% for intermediate in resultProfile.person.intermediates %}
            <div>{{ intermediate.job.full_name }}</div>
            <div>
                {% if (intermediate.group) %}
                    {{ intermediate.group.name }} /
                {% endif %}
                {{ intermediate.department.full_name }} @ {{ intermediate.location.full_name }}
            </div>
        {% endfor %}
    </div>
    <div>
        <h3>Phones</h3>
        {% for phone in resultProfile.person.phones %}
            <div>
                <a class="obf-show" data-smob="{{ phone.phone }}"
                   data-smob-overwrite data-smob-prepend="tel:">Show</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <h3>Emails</h3>
        {% for email in resultProfile.person.emails %}
            <div>
                <a class="obf-show" data-smob="{{ email.email }}"
                   data-smob-overwrite data-smob-prepend="mailto:">Show</a>
            </div>
        {% endfor %}
    </div>
    <div>
        <h3>Links</h3>
        {% for link in resultProfile.person.links %}
            <div>
                <a href="{{ link.url }}" target="_blank" rel="noopener">{{ link.title|default(link.url) }}</a>
            </div>
        {% endfor %}
    </div>
{% else %}
    <div>No results.</div>
{% endif %}
