{# pcc_directory/templates/pcc-directory-group-template.html.twig #}
{# @var resultGroup \Drupal\pcc_directory\Models\ResultGroup #}
{% if resultGroup %}
        {% for person in resultGroup.people %}
            <div class="directory-person">
                <span class="directory-person-name">
                    <a href="{{ path('pcc_directory.profile', {'id': person.id}) }}"
                       title="View profile for {{ person.full_name }}">{{ person.full_name }}</a>
                </span>
                <span class="directory-job-name">{{ person.getPrimaryIntermediate().job.full_name }}</span>
            </div>
        {% endfor %}
{% else %}
    <div>No results.</div>
{% endif %}
